   <style>
        h1 {
        margin-bottom: 15px;
        font-size: 60px;
        color: green;
        text-align: center;
        text-decoration: underline;
        background-color: grey;
        }
    
        h2 {
        color: royalblue;
        text-align: center;
        font-style: italic;
        background-color: grey;
        }

        p {
        color: blueviolet;
        text-align: center;
        font-style: bold;
        background-color: grey;
        }
    </style>