body {
  background:lightgrey;
}

#left-image {
  float: left;
  width:200px;
  height:200px; 
}

#left-block {
  background: white;

}


#comp-block {
  background: white;
}

.box{
  padding: 10px;
  background: white;
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:20px;
  align-content: center;
}

.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: white;
}

.navbar-brand {
  background: mediumturquoise;
  color: white;

}
.navbar li {
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}
h1 {
  font-size: 36px;
  color: mediumturquoise;
  background: white;
}
h2 {
  font-size: 22px;
  color: mediumturquoise
}

h3 {
  font-size: 20px;
  color: mediumturquoise;
}

p{
    font-size: 18px;
}

.c-d{color:white;
  font-size: 30px;
}

@media (max-width: 500px) {
  .navbar li {
    padding: 10px;
  }
  .box {
    margin-right: 22px;
    margin-left: 22px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}


@media only screen and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }
}